page-login {

    .Sign {
        margin-top: 40px;
    }
    .forget {
      margin-top: 50px;
    }
  .scroll-content{
        padding-bottom: 15px !important;
    }
    #image {
        width: 100%;
        height:  35%;
        background-color: white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    ion-img.img-loaded img {
        display: block;
        margin: 0 auto;
        padding: 39px;
    }
    
    .scroll-content {
     overflow-y: hidden;
    }

    .Facebook {
        text-align: center;
    }
    form, input, optgroup, select {
        margin: 0;
        font: inherit;
        color: inherit;
    }
   .newUser {
    color: blue
   }

}
