page-transprofile {
    .toolbar-background{background:#0c6f9b;}
    .header button{color: #fff;}
    .title-ios{padding:20px 20px 1px 30px !important;}
    .toolbar-title{color: #fff; font-weight: 400;font-size: 16px;}
    .scroll-content{
        padding:16px 0 60px !important;
        overflow:hidden;
    }
    .sh-icon {
        position: absolute;
        right:15px;
        top:12px;
    }
    .menu-btn{display:block !important;}
    .menu-inner .scroll-content{
        padding:0 !important;
        background:#f9f9f9;
    }
    .menu-inner{
        position: relative;
    }
    .user-container{
        padding:25px 0 15px 30px;
        border-bottom:1px solid #ddd;
    }
    .user-container .label{
        padding-left: 0;
    }
    .user-container p{
        color: #000;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        margin: 5px 0;
    }
    .menu-list{
        padding:20px 0;
        background:#f9f9f9;
    }
    .links-wrap{
        background: #f9f9f9;
    }
    .menu-item {
        padding: 7px 16px;
        background: #f9f9f9;
    }
    .menu-item.item-ios {
        border: none !important;
    }
    .menu-item.logout {
        position: absolute;
        bottom:20px;
    }
    .menu-item ion-label{
        font-size: 16px;
        color: #000 !important;
    }
    .menu-item ion-label ion-icon{
        padding-right:15px;
        font-size: 20px;
        vertical-align: middle;
    }
    .menu-trans .item-inner {
        border-bottom:none !important;
        box-shadow:none !important;
    }  
    .tabbar {
        background: #0c6f9b !important;
    }
    .tab-button{
        color:#7db2ca !important;
    }
    .tab-button[aria-selected=true] {
        color: #fff !important;
        border-bottom: 3px solid #044059;
    }
    ion-icon{
        font-size: 1.5em;
    }
    ion-footer:before{
        display: none;
    }
    ion-buttons{
        margin: 0;
    }
    .select-btn, .select-btn.activated{
        background-color: #e76c1a !important;
        margin: 0 0;
        color: #fff;
        padding: 25px 15px !important;
        text-transform: capitalize !important;
        font-weight:500;
        font-size: 16px; 
    }	
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none !important;
    }
    .toolbar-background-ios{
        border: none !important;
    }
}
