page-home {
    .content{
        background: url(../assets/imgs/home_bg.png) no-repeat;
        background-size:cover;
        
    }
    .logo {
        text-align: center;
        font-size: 38px;
        padding: 50px 0 !important;
        font-weight: 400;
        color: #fff;
        font-family: 'poppinsregular';
    }
    .logo strong{
        color: #e76c1a;
        font-family: 'poppinssemibold';
    }
    .scroll-content{
        padding: 50px 30px 15px!important;
        overflow-y: hidden;
        margin-bottom: 0 !important;
    }
    .about-text {
        text-align: center;
        font-size: 16px;
        padding: 0 28px;
        color: #fff;
    }
    .role_user{text-align: center;color: #fff;}
    button{border-radius: 4px !important;
        height: 3.8em !important;
        font-size: 1.6rem !important;
        margin: 20px 0 !important;
        padding: 0 1em !important;
        text-transform: capitalize !important;
        color: #fff !important;
    }
    .home_btns{margin: 0 30px 80px;}
    .blue_btn{background: #0c6f9b;text-transform: none !important;}
    .blue_btn.activated{background: #0c6f9b;}
    .orange_btn{background: #e76c1a;text-transform: none !important;}
    .orange_btn.activated{background: #e76c1a;}
    ion-footer:before{display:none;}
}
