page-profilepassword {
    ion-navbar{
        padding-left:20px !important;
        padding-right:20px !important;
    }
    .toolbar-md{
        padding-left: 0 !important;
    }
    .toolbar-background{background:#0c6f9b;}
    .header button{color: #fff;}
    .title-ios{padding:20px 20px 1px 30px !important;}
    .toolbar-title{color: #fff; font-weight: 400;font-size: 16px;}
    .scroll-content{
        padding:16px 30px !important;
    }
    .settings-btn, .edit-btn{
        height: 20px !important;
        padding: 0 !important;
        background: transparent;
        box-shadow: none;
    }
.item-inner {
        border-bottom: 1px solid #999999 !important;
    }  
ion-icon{
    font-size: 1.5em;
}
ion-label{
        font-size: 14px;
        margin-bottom: 5px !important;
        color: #000 !important;
    }
ion-item{padding-left: 0 !important;}
}
