page-searchresult {
    .toolbar-background{background:#0c6f9b;}
    .header button{color: #fff;}
    .title-ios{padding-top:20px !important;}
    .toolbar-title{color: #fff; font-weight: 400;font-size: 16px;}
    .scroll-content{
        padding:0 0 16px!important;
    }
    .sh-icon {
        position: absolute;
        right:15px;
        top:12px;
    }
    ion-item{
        padding-left: 0 !important;
    }
    ion-checkbox{
        position: absolute !important;
        right:20px;
        margin: 0 !important;
        z-index: 999;
    }
    ion-label{
        padding-left:70px;
        font-weight: 500;
        font-size: 14px;
    }
    .truck_wrap{
        position: relative;
    }
    .truck_img{
        position: absolute;
        left: 15px;
        z-index: 999;
        top:10px;
    }
    .checkbox-checked {
        border-color: #e76c1a !important;
        background-color: #e76c1a !important;
    }
    ion-label small{
        display: block;
        color: #666;
        margin-top:10px;
        font-weight: 400;
        font-size: 12px;
    }
    .recent {
        padding: 15px;
        background: #eee;
        margin: 0;
        font-weight: 400;
    }
    .devider{padding: 0 6px;}
    ion-footer:before{
        display: none;
    }
    ion-buttons{
        margin: 0;
    }
    .select-btn, .select-btn.activated{
        background-color: #e76c1a !important;
        margin: 0 0;
        color: #fff;
        padding: 25px 15px !important;
        text-transform: capitalize !important;
        font-weight:500;
        font-size: 16px; 
    }
}
