page-resetpassword {
    .toolbar-background{background:#0c6f9b;}
    .header button{color: #fff;}
    .title-ios{padding:5px 20px 1px 30px !important;}
    .toolbar-title{color: #fff; font-weight: 400;font-size: 16px;}
    .scroll-content{
        padding:16px 30px !important;
    }
    .settings-btn, .edit-btn{
        height: 20px !important;
        padding: 0 !important;
        background: transparent;
        box-shadow: none;
    }
.item-inner {
        border-bottom: 1px solid #999999 !important;
    }  
ion-icon{
    font-size: 1.5em;
    padding-right: 15px;
}
ion-label{
        font-size: 14px;
        margin-bottom: 5px !important;
        color: #000 !important;
    }
ion-item{padding-left: 0 !important;}
    button{border-radius: 4px !important;
        height:3em !important;
        font-size: 1.6rem !important;
        margin: 0.4rem 0.2rem;
        padding: 0 1em !important;
        text-transform: capitalize !important;
    }  
.Sign, .Sign.activated{
        color: #fff;
        background-color: #e76c1a;
        font-weight:500;
        width: 70%;
        margin: 25px auto 0;
    }

}
