page-password {

    .error{
        color: red;
    }

    .toolbar-background{background:#0c6f9b;}
    .header button{color: #fff;}
    .title-ios{padding-top: 32px !important;}
    .toolbar-title{color: #fff; font-weight: 400;font-size: 16px;}
    button{border-radius: 0 !important;
        height:3em !important;
        font-size: 1.6rem !important;
        margin: 0.4rem 0 0 !important;
        padding: 0 1em !important;
        text-transform: capitalize !important;
    }  
    .Sign, .Sign.activated{
        margin-top:25px;
        color: #fff;
        background-color: #e76c1a;
        font-weight: 100;
    }
    .scroll-content{
        padding:16px 30px !important;
        overflow-y: hidden;
    }
    .item-inner {
        border-bottom: 1px solid #999999 !important;
    }  
    ion-icon{
        font-size: 1.5em;
        padding-right: 15px;
    }
    ion-label{
            font-size: 14px;
            margin-bottom: 5px !important;
            color: #000 !important;
        }
    ion-item{padding-left: 0 !important;}    
    ion-footer:before{
        display: none;
    }
    ion-buttons{
        margin: 0;
    }    
}
